<h1>Tout les Produits</h1>
{{tout|length}} Références
<hr>
<div class="ui six cards attached">
    {% for product in tout %}
    <div class="ui card">
        <div class="content">
            <div class="ui class ui card" > {{img('store/' ~ product.image ~ '.jpg', {class: ''}) }}</div>
            <h3>{{product.name}}</h3>
            <div class="meta">
                {{product.getPrice}}€
            </div>
        </div>

        <div class="extra content">
            <a class="ui bottom attached button green" href = "{{path ('store.addToCart',[product.id , 1] )}}">
                <i class="add icon" ></i> To Cart
            </a>
        </div>
    </div>
    {% endfor %}
</div>