<!--View associated to index action of IndexController controller -->
<h1> Index </h1>

<button href=" {{path ('store.allProducts')}}"> Parcourir le store ({{countProduits}} produits ) </button>
<ul>

    {% for section in all %}
    <div class="ui segment">
        <h1>{{section.name}}</h1></a><br>
        {{section.description}}
        </br></br>

        <button href=" {{path ('store.section',[section.id])}}" > Consulter produits ({{section.products|length}}) </button>
    </div>
    </br>
    {% endfor %}


</ul>
